<!DOCTYPE HTML>

<html>
  <head>
    <title>kwargs</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.1/css/all.css" integrity="sha384-O8whS3fhG2OnA5Kas0Y9l3cfpmYjapjI0E4theH4iuMD+pLhbf6JI0jIMfYcK3yZ" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/assets/css/main.css" />
  </head>
  <body class="subpage">

    <!-- Header -->
      <header id="header">
        <div class="logo"><a href="/">kwargs</a></div>
        <a href="#menu">Menu</a>
      </header>

    <!-- Nav -->
      <nav id="menu">
        <ul class="links">
          <li><a href="/">Home</a></li>
          
          
        </ul>
      </nav>

    <!-- One -->
      <section id="One" class="wrapper style3">
        <div class="inner">
          <header class="align-center">
            
            <h2>About kwargs</h2>
          </header>
        </div>
      </section>

    <!-- Two -->
      <section id="two" class="wrapper style2">
        <div class="inner">
          <div class="box">
            <div class="content">
              <header class="align-center">

                <h2>What Link Shorteners Do (And Don’t Do)</h2>
              </header>

              <p>It wasn’t long before link shorteners quickly became more than mere link shorteners.

                They began to allow publishers to track the links they posted with analytics. They keep URLs that are loaded with UTM tracking tags from looking ugly by hiding the length and characters in the UTM tracking system.

                Sounds great, right? Who wouldn’t use this system?</p>
                <p>Link shorteners cause too much redirection.
              Scott Hanselman wrote a short but <a href="http://www.hanselman.com/blog/ThisURLShortenerSituationIsOfficiallyOutOfControl.aspx">interesting post</a> tracing the amount of redirection that happened on a single shortened link. He tracked seven 301 redirects before he got to the actual URL destination. Hanselman was redirected through a convoluted path that used link shortening for analytics and tracking, and found the end result frustrating from a user standpoint.</p>
              <br>
              <p align="center"><b>At kwargs You are only redirected Once. Yes we do not redirect you to any other destinations.</b></p>


              <p>We do not keep any user related information. Any actions taken by users are discarded as soon as they leave this site. Generated Links uses random number mapping algorithms adding an extra layer to your privacy hence can not be converted to readable form via kwargs devs. URLs describe user's web usage also reveals one's <strong>Privacy</strong>. Many URL shortening services share information regarding to their users. Also they redirect Your connection via many websites withot letting you know.</p>

              
              
              
            </div>
          </div>
        </div>
      </section>

    <!-- Footer -->
      <footer id="footer">
        <div class="container">
          
        </div>
        <div class="copyright">
          &copy; OpenSource
        </div>
          <a href="https://github.com/danielhasan1"><div class="fa-2x"><i class="fab fa-github"></i></a></div> <i class="fas fa-at fa-1x"></i><font> dh813030@gmail.com</font> 
      </footer>

    <!-- Scripts -->
      <script src="/static/assets/js/jquery.min.js"></script>
      <script src="/static/assets/js/jquery.scrollex.min.js"></script>
      <script src="/static/assets/js/skel.min.js"></script>
      <script src="/static/assets/js/util.js"></script>
      <script src="/static/assets/js/main.js"></script>

  </body>
</html>
