<!DOCTYPE HTML>
<!--
  Hielo by TEMPLATED
  templated.co @templatedco
  Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
  <head>
    <title>kwargs</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
   <link rel="stylesheet" href="/static/assets/css/main.css" />
     <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.1/css/all.css" integrity="sha384-O8whS3fhG2OnA5Kas0Y9l3cfpmYjapjI0E4theH4iuMD+pLhbf6JI0jIMfYcK3yZ" crossorigin="anonymous">
     

  </head>
  <body>{%block head%}
    {%endblock head%}

    <!-- Header -->
      <header id="header" class="alt">
        <div class="logo"><a href="/">kwargs <span></span></a></div>
        <a href="#menu">Menu</a>
      </header>

    <!-- Nav -->
      <nav id="menu">
        <ul class="links">
          <li><a href="/">Home</a></li>
          <li><a href="about">About</a></li>
          
        </ul>
      </nav>

    <!-- Banner -->
      <section class="banner full">
        <article>
          <img src="/static/images/slide01.jpg" alt="" />
          <div class="inner">
            <header>
              <p>kwargs is a URL shortening service </p>
              <h2>kwargs</h2>
            </header>
          </div>
        </article>
        <article>
          <img src="/static/images/slide02.jpg" alt="" />
          <div class="inner">
            <header>
              <p>UNLEASH THE POWER OF THE LINK</p>
              <h2>invisible thread</h2>
            </header>
          </div>
        </article>
        <article>
          <img src="/static/images/slide03.jpg"  alt="" />
          <div class="inner">
            <header>
              <p>Genarate Your Links Hasselfree</p>
              <h2>One Step</h2>
            </header>
          </div>
        </article>
        <article>
          <img src="/static/images/slide04.jpg"  alt="" />
          <div class="inner">
            <header>
              <p>HARNESS EVERY CLICK, TAP AND SWIPE</p>
              <h2>with kwargs</h2>
            </header>
          </div>
        </article>
        <article>
          <img src="/static/images/slide05.jpg"  alt="" />
          <div class="inner">
            <header>
              <p>Your Privacy is Our Priority</p>
              <h2><i class="fas fa-link fa-spin"></i></h2>
            </header>
          </div>
        </article>
      </section>

    <!-- One -->
  
      <div style="background-color:rgba(219, 219, 219, 1);">
        
      
      

    <!-- Two -->
    <div style="padding: 50px;">
      <section id="two" class="wrapper style3">
        <div class="inner">
          <div class="container" align="center">
           
            
                     <p>Give correct Urls</p>
                     <div class="6u 8u$(small)">
  
              <form action="." method="POST">{% csrf_token%}

                          
              <br>
                          
                              {{form.as_p}}
                              
                          
                          
              <input type="submit" value="Shorten" class="button alt">
 
    
              </form>


              <br>



                </div>
                
          </div>
        </div>
      </section>
      </div>
 
        
      
    <!-- Three -->
      

    <!-- Footer -->
    <div ">
      <footer id="footer">
        <div class="container" >
        
            
            <h4>At kwargs you are Anonymous</h4> 
        </div>
        <div class="copyright">
          &copy; OpenSource
        </div>
        <a href="https://github.com/danielhasan1"><div class="fa-2x"><i class="fab fa-github"></i></div></a>
      </footer>
</div>
</div>
    <!-- Scripts -->
      <script src="/static/assets/js/jquery.min.js"></script>
      <script src="/static/assets/js/jquery.scrollex.min.js"></script>
      <script src="/static/assets/js/skel.min.js"></script>
      <script src="/static/assets/js/util.js"></script>
      <script src="/static/assets/js/main.js"></script>

  </body>
</html>
